@model IEnumerable<Category>
<div class="container">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Category List</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Category" asp-action="Create" class="btn btn-primary"><i class="bi bi-plus-circle"></i> Create New Category</a>
        </div>
    </div>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Category Name</th>
            <th>Display Order</th>
            <th class="text-center">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.OrderBy(r => r.DisplayOrder))
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.DisplayOrder</td>
                <td>
                    <div class="w-100 btn-group" role="group">
                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary mx-2"><i class="bi bi-pencil-square"></i> Edit</a> 
                            <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary mx-2">Details</a> 
                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger mx-2"><i class="bi bi-trash-fill"></i> Delete</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
</div>